<a class="<%-include('colorClass.ejs')%>" href="/">Home Site</a>
<a class="<%-include('colorClass.ejs')%>" href="/product">Product Site</a>
<a class="<%-include('colorClass.ejs')%>" href="/contact">Contact Site</a>