.header{
	border: 2px solid black;
	min-height:10vh;
	display:flex;
	justify-content:center;
}

.header h1{
	color:orange;
}

a{
	color:unset;
	font-size:20px;
	padding:10px;
	text-decoration:none;
}

ul{
	list-style-type:none;
	display:flex;
	justify-content:center;
	margin:0;
	padding:1em;
}
.nav{
	display:flex;
	justify-content:center;
}

.red{
	background-color:red;
}

.blue{
	background-color:blue;
}

.purple{
	background-color:purple;
}

.active{
	font-weight:600;
	color:green;
}
